<header class="jumbotron navJumbo" data-ng-app="header-component">
<div class="row">
	<div class="row col-md-8 col-md-offset-5">
		<div class="img-responsive imgHeaderLeft"></div>
	</div>
</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Hypotheek calculator</h1>
		</div>
	</div>
	<div class="btn-group btn-group-justified" role="group" aria-label="..." >
		<div class="btn-group" role="group" >
			<button type="button" class="btn btn-default buttonClass" ng-mouseover="ctrl.mouseOver()" ng-link="['Calculator']" ng-click="ctrl.buttonClick()"><div ng-class="ctrl.addBounce">Calculator</div></button>
		</div>
		<div class="btn-group" role="group" >
			<button type="button" class="btn btn-default buttonClass" ng-link="['Rente']" ng-click="ctrl.buttonClick()" ng-mouseover="ctrl.mouseOver()" ng-class="ctrl.addBounce">Actuele rente</button>
		</div>
		<div class="btn-group" role="group" >
			<button type="button" class="btn btn-default buttonClass" ng-link="['Voorwaarden']" ng-mouseover="ctrl.mouseOver()" ng-click="ctrl.buttonClick()" ng-class="ctrl.addBounce">Voorwaarden</button>
		</div>
	</div>
</header>
