@media only screen 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2){
 	.imgHeaderLeft {
		background-image: url('../img/rabobank-logo-mobile.png')!important;
		height:50px!important;
		width:80px!important;
		margin-top:-30px!important;
  	}
}
* {
	font: normal 16px Arial;
	color: #009!important;
}
form {
	padding-left:50px;
}
button {
	background-color: #fd6400!important;
}
.inputField{
	width: 300px;
}
.imgHeaderLeft {
	background-image: url('../img/rabobank-logo.png');
	background-repeat: no-repeat;
	height:100px;
	width:100px;
	background-position: right top;
    background-size: 100% 100%;
    margin-left:10px;
	margin-top: 0px;
}
.navJumbo {
	padding-bottom:0px;
	background-color:white;
}
.pRight {
	padding-top:8px;
}
.divConditions {
	padding-right: 10px!important;
}

