@media (min-width: 900px) {
.imgHeaderLeft {
	background-image: url('../img/rabobank-logo.png');
	background-repeat: no-repeat;
	height:120px;
	width:100px;
    background-size: 100% auto;
    margin-left:10px;
	margin-top: 0px;
}
}
@media (max-width: 900px) {
	 	.imgHeaderLeft {
		background-image: url('../img/rabobank-logo-mobile.png');
		background-repeat: no-repeat;
		height:60px;
		width:100px;
  	}
}
* {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif!important;
	color: #009!important;
}
label, button, div{
	font-size: small;
}
.btn:focus {
 	outline:0;
 	background-color: #ffff!important;
}
.btn:active {
  outline:0;
 	background-color: #ffff!important;
}
.btn:active {
 	outline:0;
 	background-color: #ffff!important;
}
.btn {
	background-color: #ffff!important;
 	border: none;
 	border-bottom: 1px solid #ff0000;
}
.btn:hover {
 	background-color: #ffff!important;
 	border: none;
 	border-bottom: 1px solid #6666ff;
}
.main-container {
 	background-color:#f2f2f2;
 	margin:-30px 60px 0px 60px;
 	padding: 10px 60px 10px 60px;
}
form > label {
	margin-left:-15px;
}
.inputField{
	width: 300px;
}
input:focus{
  box-shadow: 0 0 5px rgba(255, 153, 102, 1)!important;
}
.navJumbo {
	padding-bottom:0px;
	background-color:white;
}
.pRight {
	padding-top:8px;
}
.divConditions {
	padding-right: 10px!important;
}
.activeThis{
	color:black!important;
}
.error{
	background-color:red!important;
}
