<div class="row main-container" ng-class="ctrl.addClass">
<form name="calculatorForm" ng-submit="ctrl.buttonClick()" >
<div class="form-group row">
  <label for="persoon1">Uw inkomsten:</label>
  <div class="form-group">
    <rzslider rz-slider-model="ctrl.bedrag1.value"
          rz-slider-options="ctrl.bedrag1.options"></rzslider>
  </div>
  <input type="number" name="persoon2" ng-model="ctrl.bedrag1.value" ng-change="ctrl.changeInput(ctrl.bedrag1.value)">
</div>
<div class="form-group row">
  <label for="persoon2">Partner inkomsten:</label>
  <div class="form-group">
    <rzslider rz-slider-model="ctrl.bedrag2.value"
          rz-slider-options="ctrl.bedrag2.options"></rzslider>
  </div>
  <input type="number" name="persoon2" ng-model="ctrl.bedrag2.value" ng-change="ctrl.changeInput(ctrl.bedrag2.value)">
</div>
  <div class="form-group row">
  <button type="submit" class="btn btn-default buttonClass" ng-disabled="ctrl.checkDisabled()" ng-class="ctrl.error">Bereken maximale hypotheek</button>
  </div>
  <p ng-class="ctrl.hide">{{ctrl.maxBijlenenText }}{{ctrl.totaalBedrag | calculateEuro:'€':true}}</p>
</form>
</div>
<!--
ng-class="{'animated fadeInLeft': ctrl.bedrag1}" -->
